<div class="row">
    <div class="col-lg-12">
        <h2>チャットルーム一覧</h2>
        <% if @currentScrooms.present? %>
            <% @currentScrooms.each do |scr| %>
               <%= link_to scroom_path(scr.id) do %>
                <% if student_signed_in?%>
                    <%= scr.company.name %>とのチャットルーム<br>
                <% else %>
                    <%= scr.student.name %>とのチャットルーム<br>
                <% end %>
            <% end %>
        <% end %>
        <% else %>
            <h3 class="text">チャットルームはまだありません</h3>
        <% end %>
    </div>
</div>