<div class="question_content top_content">
    <header class="question_header">
        <div class="question_user_info user_info">
            <span>今日はもうおしまいです。また明日きてね。</span>
        </div>
    </header>
</div>